In [1]:
##Q1

import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
##Q2
list = [1,2,3,4,5,6,7]
series = pd.Series(list)
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [4]:
##Q3

data = {
    'Name': ['Alice','Bob','Claire'],
    'Age': [25,30,27],
    'Gender': ["Female","Male","Female"]
}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
##Q4
In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It is essentially a
table with rows and columns, where each column can contain data of different types (e.g., integers, strings, floats, etc.). DataFrames
are one of the primary data structures used in Pandas and are suitable for storing and manipulating structured data

Here's a more detailed explanation of the differences between a DataFrame and a Series:

1. Dimensionality:

a.DataFrame: Two-dimensional data structure with rows and columns.
b.Series: One-dimensional data structure with a single column of data.

2. Data Structure:

a.DataFrame: Suitable for storing structured data with multiple columns, where each column can have different data types.
b.Series: Typically used for storing a single column of data, such as time series data or a single variable.


3. Indexing:

a.DataFrame: Has both row and column indices. You can use labels or integer-based indexing to access data in both rows and columns.
b.Series: Has a single index for its elements, which can be customized or automatically generated based on the data.


Example:
    
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 22], name='Age')

# Accessing data in a DataFrame
print(df['Name'])  # Accessing a specific column
print(df.loc[0])   # Accessing a specific row

# Accessing data in a Series
print(ages)         # Display the entire Series
print(ages[1])      # Accessing a specific element in the Series

In [ ]:
##Q5

Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some common functions and methods along with examples of when you might use them:

1. Selecting Data:
    df['column_name']` or `df.column_name`: To select a specific column.
    df.loc[row_label]` or `df.iloc[row_index]`: To select specific rows by label or integer index.
    Example: `df['Age']` selects the 'Age' column, and `df.loc[0]` selects the first row.

2. Filtering Data:
   df[df['column_name'] condition]`: To filter rows based on a condition.
    Example: `df[df['Age'] > 25]` selects rows where the 'Age' is greater than 25.

3. Sorting Data:
   df.sort_values(by='column_name')`: To sort the DataFrame by a specific column.
   Example: `df.sort_values(by='Age')` sorts the DataFrame by the 'Age' column.

4. Grouping Data:
   df.groupby('column_name')`: To group data by unique values in a column.
   Example: `df.groupby('City')['Age'].mean()` calculates the mean age for each unique 'City' in the DataFrame.

5. Aggregating Data:
   Functions like `mean()`, `sum()`, `count()`, etc., to perform aggregate calculations on grouped data.
   Example: `df.groupby('City')['Age'].mean()` calculates the mean age for each city.

6. Merging and Joining Data:
   pd.merge(df1, df2, on='key_column')`: To combine two DataFrames based on a common column.
   Example: Merging two DataFrames based on a shared 'ID' column.

7. Handling Missing Data:
   df.isnull()`: Returns a DataFrame of Boolean values indicating missing data.
   df.dropna()`: Removes rows or columns with missing data.
   df.fillna(value)`: Fills missing values with a specified value.

8. Adding and Modifying Columns:
   df['new_column'] = value`: Adds a new column or overwrites an existing one.
   Example: `df['Salary'] = df['Age'] * 1000` creates a new 'Salary' column.

9. Pivoting and Reshaping Data:
  df.pivot_table()`: To create pivot tables from long to wide format.
  df.melt()`: To reshape data from wide to long format.

10. Applying Functions:
    df.apply(function)`: Applies a custom function to each row or column.
    Example: `df['Age'].apply(lambda x: x * 2)` doubles the values in the 'Age' column.

In [ ]:
##Q6

In Pandas, both Series and DataFrame are mutable, while Panel is deprecated and no longer part of the main Pandas library as of Pandas version 0.25.0 (July 2019). 

Here's a brief explanation:

1. Series: A Pandas Series is mutable, meaning you can change the values of elements in a Series after it has been created. You can assign
new values to specific elements in a Series using indexing.

2. DataFrame: Similarly, a Pandas DataFrame is mutable as well. You can modify the data in specific cells, add or remove columns, and 
perform various data manipulation operations on a DataFrame, which may change its contents.

3. Panel: The Panel data structure was deprecated in Pandas because it was less commonly used and considered less intuitive compared to 
Series and DataFrames. It is no longer available as a built-in data structure in Pandas. Instead, multi-indexed DataFrames are often used 
to handle multi-dimensional data.

So, in summary, Series and DataFrames are the primary mutable data structures in Pandas, while Panel is no longer a part of the library.

In [5]:
##Q7

import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 22])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago